body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 14px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #D6FF6B; /* El color del fondo de la página web */
    color: #333333; /* El color del texto*/ 
    border: 10cm;
    border: #2408c2;
}
@keyframes color-change {
    0% {
      color: blue;
    }
  
    25% {
      color: red;
    }

    50% {
        color: rgb(30, 146, 40);
      }
  
    100% {
        color: blue;
    }
}
h1 {
    animation: color-change 3s infinite;
    font-size: 35px;
    font-family: Verdana, Tahoma, sans-serif, 'Arial Narrow Bold', sans-serif, serif; /* La familia tipográfica utilizada en la cabecera */
    border: 15cm;
}
h2 {
    animation: color-change 3s infinite;
    color: #2408c2; 
    font-size: 30px; 
    font-family: Times, serif; 
    border: 10cm;
}
h3:hover {
    color: #FD98FB; 
    font-size: 25px; 
    font-family: Times, serif; 
    border: 15cm;
}
h3 {
    color: #FD98FB; 
    font-size: 20px; 
    font-family: Times, serif; 
    border: 15cm;
}
